@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap') ;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

h1 {
  font-family: Gloria Hallelujah, cursive;
  text-align: center;
}

h2 {
  font-family: Gloria Hallelujah, cursive;
  text-align: center;
}

.btns {
  align-items: center;
  background-color: rgb(12, 12, 12);
  border-radius: 15px;
  color: antiquewhite;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
}

.caption {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
}

.color {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  height: 10vw;
  width: 10vw;
}

#color-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}


#color-palette {
  display: flex;
  align-content: center;
  padding: 0;
  margin-bottom: 0;
}

#color-1 {
  background-color: rgb(236, 154, 175);
}

#color-2 {
  background-color: rgb(243, 204, 60);
}

#color-3 {
  background-color: rgb(152, 226, 209);
}

#color-4 {
  background-color: rgb(134, 219, 240);
}

.palette-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette-color-container , .selected-color-container {
  margin: 0 5vw;
}

.pixel {
  border: 1px solid black;
  background-color: white;
  width: 15vw;
  height: 15vw;
}

#pixel-board {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(5, 15vw);
  grid-template-rows: repeat(5, 15vw);
}

#pixel-board-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pixel-palette , .pixel-selected-color {
  width: 10vw;
  height: 10vw;
}

#selected-color {
  align-content: center;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
}

.selected-color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin-bottom: 1.5vh;
  margin-top: 2vh;
}

/* 320px a 480px = mobile */

@media ( min-width : 320px ) {

  #btn-clear-board {
    margin-top: 3vh;
  }

  #btn-random-color {
    margin-top: 3vh;
  }

  .btns {
    width: 45vw;
    height: 4.5vh;
  }

  .caption {
    font-size: 4.5vw;
  }

  .color {
    height: 6vh;
    width: 6vh;
  }

  #color-container {
    height: 20vh;
  }

  .palette-color-container , .selected-color-container {
    padding-top: 2vh;
  }

  .pixel {
    width: 8.5vh;
    height: 8.5vh;
  }

  #pixel-board {
    grid-template-columns: repeat(5, 8.5vh);
    grid-template-rows: repeat(5, 8.5vh);
  }

  #pixel-board-container {
    margin-top: 5vh;
  }

  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  #title {
    font-size: 10vw;
  }
}

/* 480px a 768px = tablet */

@media ( min-width : 480px ) {

  .btns {
    width: 45vw;
  }

  .color , .pixel {
    width: 15vw;
    height: 15vw;
  }

  #pixel-board {
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(5, 15vw);
  }

  .pixel-palette , .pixel-selected-color {
    width: 10vw;
    height: 10vw;
  }
}

/* 768px a 1024px = laptops */

@media ( min-width : 768px ) {

  #board-title {
    font-size: 6vw;
  }

  #btn-random-color {
    margin-top: 0.7vh;
  }

  #btn-random-color-container {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    width: 100%;
  }

  .btns {
    width: 25vw;
  }

  .caption {
    font-size: 3vw;
    font-weight: 300;
  }

  #color-container {
    height: 18vh;
  }

  .palette-color-container , .selected-color-container {
    padding-top: 1vw;
  }

  .pixel {
    width: 12vw;
    height: 12vw;
  }

  #pixel-board {
    grid-template-columns: repeat(5, 12vw);
    grid-template-rows: repeat(5, 12vw);
  }

  #pixel-board-container {
    margin-top: 3vh;
  }

  .pixel-palette , .pixel-selected-color {
    width: 6vw;
    height: 6vw;
  }

  #title {
    font-size: 7vh;
  }
}

/* 1024px a 1200px = laptops */

@media ( min-width : 1024px ) {

  #color-container {
    height: 16vh;
  }

  .color {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    width: 10vh;
    height: 10vh;
  }

  .pixel {
    width : 10vh;
    height : 10vh;
    gap: 0;
  }

  #pixel-board {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(5, 10vh);
    grid-template-rows: repeat(5, 10vh);
  }

  #pixel-board-container {
    margin-top: 1vh;
  }

  .pixel-palette , .pixel-selected-color {
    width: 7vh;
    height: 7vh;
  }



}

/* maior ou igual a 1200px = telas maiores, tv */

@media ( min-width : 1280px ) {

  /* Título do quadro */
  #board-title {
    font-size: 3vw;
  }

  /* Botões */
  .btns {
    width: 15vw;
    font-size: 2vh;
  }

  /* Container do botão de cor */
  #btn-random-color-container {
    margin: 0 2vw;
    width: 15vw;
  }

  /* Legendas */
  .caption {
    font-size: 1.5vw;
    font-weight: 300;
    padding: 0;
    max-width: 12vw;
  }

  /* Container de cores */
  #color-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16vh;
    margin: auto;
    width: 80%;
  }

  #color-palette {
    max-width: 17vw;
    margin: 0;
  }

  .palette-color-container {
    width: 29.4vw;
  }

  /* Ajustes para os containers */
  .palette-color-container , .selected-color-container , #btn-random-color-container {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-left: 0;
    justify-content: flex-start;
  }

  /* Container do quadro de pixels */
  #pixel-board-container {
    margin-top: 1vh;
  }

  .pixel-palette , .pixel-selected-color {
    width: 7vh;
    height: 7vh;
  }

  /* Container da cor selecionada */
  .selected-color-container {
    width: 16.7vw; /* Largura específica */
  }
}
